[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/andy/Desktop/steam.desktop]
row=5
col=0

[/home/andy/Desktop/backup.ab]
row=6
col=0

[dcac6997-0313-4ef1-8705-2b057cbbdc5d]
row=1
col=0

[7A0AE7CA0AE7818D]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/andy]
row=4
col=0

